<?xml version="1.0"?>

<launch>

    <arg name="robot" default="wamv" />
    <arg name="config" default="$(find nortek_dvl_ethernet)/config/param.yaml"/>

    <!-- build with flag: -DCMAKE_BUILD_TYPE=Debug -->
    <!-- add to roslaunch: launch-prefix="gdb -ex run -!-args" -->
    <!-- type: bt -->
    <node ns="robot" pkg="nortek_dvl_ethernet" type="nortek_dvl_ethernet_node" 
            name="nortek_dvl_ethernet_node" output="screen">
            <rosparam command="load" file="$(arg config)"/>
    </node>
  
</launch>
